.jqvmap-label
{
	position: absolute;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
	pointer-events:none;
	z-index: 1;
}
.jqvmap-pin {
  pointer-events:none;
}
.jqvmap-zoomin, .jqvmap-zoomout
{
	position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #000000;
	padding: 0px;
	color: white;
	width: 10px;
	height: 10px;
	cursor: pointer;
	line-height: 10px;
	text-align: center;
}
.jqvmap-zoomin
{
	top: 10px;
}
.jqvmap-zoomout
{
	top: 30px;
}
.jqvmap-region
{
  cursor: pointer;
}
.jqvmap-ajax_response
{
  width: 100%;
  height: 500px;
}

* {
	margin: 0;
	padding: 0;
  }

  h2 {
	/*background: none repeat scroll 0 0 #cccccc;*/
	border: 1px solid #aaaaaa;
	color: whitesmoke;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	padding: 5px;
	font-size: 15px;
	font-weight: normal;
	cursor: pointer;
	margin-top: 5%;
  }

  h2.tab-selected {
	background: whitesmoke;
	color: black;
	border: 1px solid #000000;
  }


  .map {
	position: absolute;
	z-index: 0;
	left: 20px;
	top: 18%;
  }

