.cards-dados{
    margin: auto;
    padding-top: 3%;
    margin-top: 3%;
}

.card-dados-unico {
    padding-top: 2%;
}

.margin-auto-my {
    padding-top: 2%;
    margin: auto;
}

.mapa{
    float: left;
    min-width: 700px;
    min-height: 500px;
    margin-left: 1%;
}

.atualizacao{
    width: 165px;
    margin-left: 1%;
}

#pais{
    font-family: "Circular Std",sans-serif;
    color: #193148;
    line-height: 20px;
    font-weight: 800;
    font-size: 21.59px;
}