<!DOCTYPE html>
<html lang="pt-br ">

<head>
  <meta charset="UTF-8"/>
  <title>Covid-19</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--
  <link href="css/style.css" media="screen" rel="stylesheet" type="text/css"/>

  <link href="css/jqvmap.css" media="screen" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="js/jquery.vmap.js"></script>
  <script type="text/javascript" src="js/jquery.vmap.world.js" charset="utf-8"></script>

  <script type="text/javascript" src="js/bcg.js"></script>
-->
    <link href="{{url_for('static', filename='css/style.css')}}" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{url_for('static', filename='css/jqvmap.css')}}" media="screen" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.vmap.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.vmap.world.js')}}" charset="utf-8"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bcg.js')}}"></script>
</head>

<body>

  <div>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-2 h1" id="pais" >CORONAVIRUS</span>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">BCG</a>
            </li>
          </ul>
        </div>
      </nav>
    </nav>
  </div>
  <small class="atualizacao" >Atualizado em
    <span id="atualizado"></span>
  </small>
  <div class="site-body">

    <div class="mapa" id="world-map">
    </div>

    <div class="cards-dados">

      <div class="row card-dados-duplo">
        <div class="col-sm-6">
          <div class="card text-center margin-auto-my border-danger" id="c-sda"  style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Novos Casos de Covid-19</h5>
              <p class="card-text" id="casos-novos"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-center margin-auto-my border-danger" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Óbitos acumulados por Covid-19</h5>
              <p class="card-text" id="obitos"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row card-dados-unico">
        <div class="col-sm-6">
          <div class="card text-center margin-auto-my border-danger" id="c-sda"  style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Casos Confirmados acumulados de Covid-19</h5>
              <p class="card-text" id="confirmados"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-center margin-auto-my border-danger" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Percentual de morte por Covid-19</h5>
              <p class="card-text" id="percentual"></p>
            </div>
          </div>
        </div>
      </div>


      <div class="row card-dados-unico">
        <div class="col-sm-6">
          <div class="card text-center margin-auto-my border-danger" id="c-sda"  style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Política BCG(Bacilus Calmette-Guérin)</h5>
              <p class="card-text" id="politica"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card text-center margin-auto-my border-danger" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Abrangência da BCG</h5>
              <p class="card-text" id="abrangencia"></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script>
    var dados;
    var requestURL = 'https://api-coronavirus-bcg.herokuapp.com/coronavirus/all';
    var xmlhttp = new XMLHttpRequest();
    

    xmlhttp.onreadystatechange = function requisicao() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        dados = JSON.parse(xmlhttp.responseText);
        carregamapa(dados)
        
      }
    }
    xmlhttp.open("GET", requestURL, true);       
    xmlhttp.send();

    

    function carregamapa(dados){
      var percentual;
      var percentualURL = 'https://api-coronavirus-bcg.herokuapp.com/coronavirus/indice_infectados_mortos_lower';
      var requestPercentual = new XMLHttpRequest();

      requestPercentual.onreadystatechange = function requisicaoPercentual() {
          if (requestPercentual.readyState == 4 && requestPercentual.status == 200) {
            percentual = JSON.parse(requestPercentual.responseText);
            mapa(dados,percentual); 
          }
        }

        requestPercentual.open("GET", percentualURL, true);     
    requestPercentual.send();
    }
    
    function mapa(dados,percentual){  
                  
      var siglas;
      var request = 'https://api-coronavirus-bcg.herokuapp.com/paises/all_lower';
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function requisacao_siglas() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
          siglas = JSON.parse(xmlhttp.responseText);
        }
      }
      
      xmlhttp.open("GET", request, true);
      xmlhttp.send();

      var casos_mundo = 0;
      var mortes_mundo = 0;
      var novos_casos_mundo = 0;
      var politica = 0;
      var abrangencia = 0;

      var map;
      var ultimo_pais = '';

      for(pais in dados)
        if(pais != 'data_requisicao'){
          casos_mundo += dados[pais].Confirmados;
          mortes_mundo += dados[pais].Mortes;
          novos_casos_mundo += dados[pais].Novos_casos.Confirmados;
        } else{
          var data = new Date(dados[pais]);
          document.getElementById('atualizado').innerText = data.toLocaleString('pt-BR');
        }

      document.getElementById('confirmados').innerText = casos_mundo.toLocaleString('pt-BR');
      document.getElementById('obitos').innerText = mortes_mundo.toLocaleString('pt-BR');
      document.getElementById('casos-novos').innerText = novos_casos_mundo.toLocaleString('pt-BR');

      $(function(){
        map = $('#world-map').vectorMap({
          map: 'world_en',
          values: percentual,
          scaleColors: ['#FF6464', '#640000'],
          backgroundColor: '#fff',
          regionsSelectable: true,
          onRegionClick: function(e, code){
            var abrangencia = dadosbcg[code.toUpperCase()].adicionais.porcentagem_cobertura;
            if(ultimo_pais == code) {
              document.getElementById('pais').innerText = "CORONAVIRUS";
              document.getElementById('confirmados').innerText = casos_mundo.toLocaleString('pt-BR');
              document.getElementById('obitos').innerText = mortes_mundo.toLocaleString('pt-BR');
              document.getElementById('casos-novos').innerText = novos_casos_mundo.toLocaleString('pt-BR');
              document.getElementById('percentual').innerText = '';
              document.getElementById('politica').innerText = '';
              document.getElementById('abrangencia').innerText = '';
              
              ultimo_pais = '';
            } else {
              document.getElementById('pais').innerText = "CORONAVIRUS - " + siglas[code];
              document.getElementById('confirmados').innerText = dados[code.toUpperCase()].Confirmados.toLocaleString('pt-BR');
              document.getElementById('obitos').innerText = dados[code.toUpperCase()].Mortes.toLocaleString('pt-BR');
              document.getElementById('casos-novos').innerText = dados[code.toUpperCase()].Novos_casos.Confirmados.toLocaleString('pt-BR');
              document.getElementById('percentual').innerText = percentual[code]+"%";
              if (dadosbcg[code.toUpperCase()].status == 'POLITICA_APLICADA'){
                document.getElementById('politica').innerText = 'Política aplicada';
              } else if(dadosbcg[code.toUpperCase()].status == 'POLITICA_ALTERADA'){
                document.getElementById('politica').innerText = 'Política alterada (Já foi aplicada anteriormente)';
              } else if(dadosbcg[code.toUpperCase()].status == 'POLITICA_RECOMENDADA'){
                document.getElementById('politica').innerText = 'Política recomendada para grupos específicos';
              }

              // document.getElementById('politica').innerText = dadosbcg[code.toUpperCase()].status;
              if(abrangencia != null){
                document.getElementById('abrangencia').innerText = abrangencia;
              }else{
                document.getElementById('abrangencia').innerText = "Valor não divulgado!"
              }
              ultimo_pais = code;
            }

          }
        });
      });
    };

    
  </script>
</body> 
</html>
